---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Slider from "../components/Slider.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="HPC | HackClub Pune" description="Idk" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <style>

      :root {
        --red: #e63946;
        --white: #f1faee;
        --pale-blue: #a8dadc;
        --blue: #457b9d;
        --dark-blue: #1d3557;
      }
      .content {
        margin: 1%;
      }
    </style>
  </head>
  <body>
    <Header />
    <br />
    <br />
    <br />
    <div class="content">
      <h1>
        Unlock your creative potential <br />
        with an all-in-one coding-powered community <br />
        designed by creators, for creators
      </h1>
        <Slider />

    </div>
    <script>
      $(document).on("click", 'a[href^="#"]', function (e) {
        // target element id
        var id = $(this).attr("href");

        // target element
        var $id = $(id);
        if ($id.length === 0) {
          return;
        }

        // prevent standard hash navigation (avoid blinking in IE)
        e.preventDefault();

        // top position relative to the document
        var pos = $id.offset().top;

        // animated top scrolling
        $("body, html").animate(
          {
            scrollTop: pos,
          },
          1000
        );
      });
    </script>
  </body>
</html>
