---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Slider from "../components/Slider.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="HCP | HackClub Pune" description="Idk" />
    <style>

.active {
      color: red;
    }
      :root {
        --red: #e63946;
        --white: #f1faee;
        --pale-blue: #a8dadc;
        --blue: #457b9d;
        --dark-blue: #1d3557;
      }
      .content {
        margin: 1%;
      }
      .great{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <br />
    <br />
    <br />
    <div class="content">
      <h1>
        Unlock your creative potential <br />
        with an all-in-one coding-powered community <br />
        designed by creators, for creators
      </h1> 
        <Slider />
      <br><br>
      <div class="great">
        <h1 class="caption">HCP is Great For</h1>
        <div class="switching-list">
          <h1 class="h0 active">Tiktokers</h1>
          <h1 class="h0">Influencers</h1>
          <h1 class="h0">YouTubers</h1>
          <h1 class="h0">Creators</h1>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      

      <!-- <div id="Intro">
        <h1>What is Hack Club?</h1>
        <p>
          Hack Club is a global nonprofit network of high school makers &
          student-led coding clubs where young people build the agency, the
          network, & the technical talent to think big & do big things in the
          world.
        </p>
      </div> -->

    </div>


    <script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

ScrollTrigger.defaults({
      markers: false
    });

    // Animate From To
    $(".h0.active").each(function(index) {
      let triggerElement = $(this);
      let targetElement = $(".h0.active");
      let tl = gsap.timeline({
        scrollTrigger: {
          trigger: triggerElement,
          start: "400px top",
          end: "-800px top",
          scrub: 1
        }
      });
      tl.fromTo(
        targetElement,
        {
          opacity: "100%",
          duration: 1
        },
        {
          opacity: "0%",
          duration: 1
        }
      );
    });
    </script>
  </body>
</html>
