---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    font-family: "Fervojo","Inter", sans-serif;
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  a {
    position: relative;
    text-decoration: none;
  }

  a:not(.active)::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover:not(.active)::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>